* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  /*font for whole page*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*default color of text*/
  /* color: #edf2f4; */
  /*transition of everything is set*/
  transition: all 0.3s;
}
.details {
  width: 100%;
  background-color: #1d3557;
  padding-block: 30px;
}

table {
  border-collapse: collapse;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #457b9d;
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-collapse: collapse;
  background-color: #457b9d;
}
.table-1 td {
  text-align: center;
}

#header > th {
  background-color: #a8dadc;
  color: #e63946f5;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
}
tr:last-child td {
  border-radius: 0 0 10px 10px;
}

.details h2 {
  font-weight: 600;
  text-align: center;
  color: #e63946f5;
  padding: 10px 0px;
  margin-top: 60px;
}

tbody tr:hover > td {
  background-color: #a8dadc;
  transform: scale(1.02);
  border-radius: 0;
  border-collapse: collapse;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.syllabus {
  text-align: center;
}
.details ul {
  padding-bottom: 40px;
}
/* @media only screen and (max-width: 768px) { */
table {
  width: 100%;
}
/* } 
  .last {
    margin-bottom: 100px;
  }
  .syllabus {
    text-align: center;
    color: black;
  }*/
